<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobs Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Jobs Page</h1>
    <div>
      <div>
        
      </div>
      <% jobsList.forEach((j,i)=>{ %>
        <h3><%= j.title %></h3>
        <p><%= j.fullTime ? 'Full Time' : 'Part Time'%></p>
        <p><%= j.salary %> </p>
        <p><%= j.description %> </p>
        <hr/>
      <%  }) %>
    </div>
    <script type="text/javascript" src="/js/bundle.js">

    </script>
  </body>
</html>
